.pilar {
  text-align: center;
}
.pilar .pilar-icon {
  width: 100px;height: 100px;border-radius: 100%;background-color: #1DA879;
}
.pilar .pilar-caption {
  font-family: 'Lato', sans-serif;font-weight: 900;
}
.flag {
  text-align: center;font-family: 'Lato', sans-serif;font-weight: 900;text-decoration: none;
}
.flag .flag-caption {
  font-family: 'Lato', sans-serif;font-weight: 900;
}
.counter {
  text-align: center;
}
.counter .counter-item {
  padding: 4rem 0;
}
.counter .counter-number {
  color: #1DA879;font-size: 2rem;font-weight: 900;
}
.btn,
.wp-block-button .wp-block-button__link,
.wp-block-button .wp-block-button__link {
  font-size: 1.2rem;margin: 1rem 1rem;padding: 0.5rem 1.5rem;
}
.btn.btn-transparent,
.wp-block-button .wp-block-button__link.btn-transparent,
.wp-block-button .wp-block-button__link.btn-transparent {
  border: 2px solid #FFFFFF;color: #FFFFFF;background-color: transparent;
}
.btn.btn-transparent-green,
.wp-block-button .wp-block-button__link.btn-transparent-green,
.wp-block-button .wp-block-button__link.btn-transparent-green {
  border: 2px solid #1DA879;color: #1DA879;background-color: transparent;
}
.btn.btn-green,
.wp-block-button .wp-block-button__link.btn-green,
.wp-block-button .wp-block-button__link.btn-green {
  border: 2px solid #1DA879;color: #FFFFFF;background-color: #1DA879;
}
.wp-block-button .wp-block-button__link {
  border-radius: 0;text-decoration: none;
}
