@charset "UTF-8";

@font-face {
  font-family: "fsphp";
  src:url("fonts/fsphp.eot");
  src:url("fonts/fsphp.eot?#iefix") format("embedded-opentype"),
    url("fonts/fsphp.woff") format("woff"),
    url("fonts/fsphp.ttf") format("truetype"),
    url("fonts/fsphp.svg#fsphp") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fsphp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fsphp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
  content: "\e000";
}
.icon-facebook:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
}
.icon-instagram:before {
  content: "\e003";
}
.icon-youtube:before {
  content: "\e004";
}
.icon-phone:before {
  content: "\e005";
}
.icon-envelope:before {
  content: "\e006";
}
.icon-map-marker:before {
  content: "\e007";
}
.icon-menu:before {
  content: "\e008";
}
.icon-error:before {
  content: "\e009";
}
.icon-check-square-o:before {
  content: "\e00a";
}
.icon-sign-in:before {
  content: "\e00b";
}
.icon-sign-out:before {
  content: "\e00c";
}
.icon-clock-o:before {
  content: "\e00d";
}
.icon-heartbeat:before {
  content: "\e00e";
}
.icon-bar-chart:before {
  content: "\e00f";
}
.icon-suitcase:before {
  content: "\e010";
}
.icon-play-circle-o:before {
  content: "\e011";
}
.icon-link-broken:before {
  content: "\e012";
}
.icon-link:before {
  content: "\e013";
}
.icon-check:before {
  content: "\e014";
}
.icon-graduation-cap:before {
  content: "\e015";
}
.icon-life-ring:before {
  content: "\e016";
}
.icon-leanpub:before {
  content: "\e017";
}
.icon-plus:before {
  content: "\e018";
}
.icon-minus:before {
  content: "\e019";
}
.icon-search:before {
  content: "\e01a";
}
.icon-unlock-alt:before {
  content: "\e01b";
}
.icon-user:before {
  content: "\e01c";
}
.icon-user-plus:before {
  content: "\e01d";
}
.icon-warning:before {
  content: "\e01e";
}
.icon-info:before {
  content: "\e01f";
}
.icon-home:before {
  content: "\e020";
}
.icon-calendar-check-o:before {
  content: "\e021";
}
.icon-calendar-minus-o:before {
  content: "\e022";
}
.icon-calendar:before {
  content: "\e023";
}
.icon-cog:before {
  content: "\e024";
}
.icon-heart:before {
  content: "\e025";
}
.icon-heart-o:before {
  content: "\e026";
}
.icon-bell-o:before {
  content: "\e027";
}
.icon-bell:before {
  content: "\e028";
}
.icon-bell-slash:before {
  content: "\e029";
}
.icon-bell-slash-o:before {
  content: "\e02a";
}
.icon-trophy:before {
  content: "\e02b";
}
.icon-th-list:before {
  content: "\e02c";
}
.icon-star:before {
  content: "\e02d";
}
.icon-star-o:before {
  content: "\e02e";
}
.icon-star-half-o:before {
  content: "\e02f";
}
.icon-signal:before {
  content: "\e030";
}
.icon-print:before {
  content: "\e031";
}
.icon-pencil-square-o:before {
  content: "\e032";
}
.icon-paper-plane:before {
  content: "\e033";
}
.icon-paper-plane-o:before {
  content: "\e034";
}
.icon-money:before {
  content: "\e035";
}
.icon-gift:before {
  content: "\e036";
}
.icon-flask:before {
  content: "\e037";
}
.icon-flag:before {
  content: "\e038";
}
.icon-credit-card:before {
  content: "\e039";
}
.icon-comments:before {
  content: "\e03a";
}
.icon-comments-o:before {
  content: "\e03b";
}
.icon-bullhorn:before {
  content: "\e03c";
}
.icon-align-justify:before {
  content: "\e03d";
}
.icon-briefcase:before {
  content: "\e03e";
}
.icon-filter:before {
  content: "\e03f";
}
.icon-plus-circle:before {
  content: "\e040";
}
.icon-ban:before {
  content: "\e041";
}
.icon-minus-circle:before {
  content: "\e042";
}
.icon-times-circle:before {
  content: "\e043";
}
.icon-angle-down:before {
  content: "\e044";
}
.icon-thumbs-o-down:before {
  content: "\e045";
}
.icon-thumbs-o-up:before {
  content: "\e046";
}
.icon-thumb-tack:before {
  content: "\e047";
}
.icon-random:before {
  content: "\e048";
}
.icon-exchange:before {
  content: "\e049";
}
.icon-square-o:before {
  content: "\e04a";
}
.icon-whatsapp:before {
  content: "\e04b";
}
.icon-bug:before {
  content: "\e04c";
}
.icon-paint-brush:before {
  content: "\e04d";
}
.icon-pencil:before {
  content: "\e04e";
}
.icon-reply-all:before {
  content: "\e04f";
}
.icon-retweet:before {
  content: "\e050";
}
.icon-rss-square:before {
  content: "\e051";
}
.icon-share-alt:before {
  content: "\e052";
}
.icon-share-square-o:before {
  content: "\e053";
}
.icon-tags:before {
  content: "\e054";
}
.icon-tag:before {
  content: "\e055";
}
.icon-folder-open:before {
  content: "\e056";
}
.icon-folder:before {
  content: "\e057";
}
.icon-folder-o:before {
  content: "\e058";
}
.icon-folder-open-o:before {
  content: "\e059";
}
.icon-bookmark:before {
  content: "\e05a";
}
.icon-bookmark-o:before {
  content: "\e05b";
}
.icon-asterisk:before {
  content: "\e05c";
}
.icon-at:before {
  content: "\e05d";
}
.icon-trash-o:before {
  content: "\e05e";
}
.icon-trash:before {
  content: "\e05f";
}
.icon-ticket:before {
  content: "\e060";
}
.icon-thumbs-up:before {
  content: "\e061";
}
.icon-thumbs-down:before {
  content: "\e062";
}
.icon-lock:before {
  content: "\e063";
}
.icon-upload:before {
  content: "\e064";
}
.icon-download:before {
  content: "\e065";
}
.icon-camera-retro:before {
  content: "\e066";
}
.icon-camera:before {
  content: "\e067";
}
.icon-cogs:before {
  content: "\e068";
}
.error{
    color: #993333;
    text-align: center;
    padding: 10px;
}