@green: #1DA879;
@white: #FFFFFF;
@black: #202020;
@gray: #dddddd;

body {
    /* Used to keep the footer at the bottom */
    position: relative;
    min-height: 100vh;
    padding-bottom: 3rem;

    color: @black; /* Use this or bootstrap instead? */
    background-color: @white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif;}
h1, h2 {font-weight: 900;}

a {color: @green;}
a:hover, a:active {color: @black;}

.navbar.navbar-header {
    @media (max-width: 576px) {padding: 0;}

    .navbar-toggler-icon {
        background-image: none;
        color: @green;
        border: 1px solid @green;
        padding: .3rem;
        border-radius: 5px;
    }

    .navbar-brand {
        img {
            height: 80px;
        }
    }

    .navbar-nav {
        padding-right: 0;

        .nav-item {
            text-transform: lowercase;
            color: @green;

            &:hover {
                color: @green;
                border-color: @green;
            }

            @media (min-width: 576px) {
                font-size: 1.1rem;
                border-radius: .25rem;
                border: 2px solid;
                border-color: transparent;
            }
        }

        .dropdown-menu {
            a {
                color: @green !important;
            }
        }
    }
}

.pilar {
    text-align: center;

    .pilar-icon {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: @green;
    }

    .pilar-caption {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
}

.flag {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-decoration: none;

    .flag-caption {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
}

.counter {
    text-align: center;

    .counter-item {
        padding: 4rem 0;
    }

    .counter-number {
        color: @green;
        font-size: 2rem;
        font-weight: 900;
    }
}

.page {
    min-height: 60vh;

    h1, h2, h3, h4, h5, h6 {color: @green;}
    .title {
        padding: 1rem 0;
        font-size: 2.8rem;
        text-transform: lowercase;
    }

    .page-content {padding: 2rem 0;}

    .section {
        text-align: center;
        padding: 3em 0;
        min-height: 60vh;
        h1, h2, h3, h4, h5, h6 {text-align: center;}

        &.dark {background-color: @gray;}
        &.green {
            background-color: @green;
            color: @white;
            h1, h2, h3, h4, h5, h6, a, i {color: @white;}
        }
    }
}

.page-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    padding-top: .5rem;
    min-height: 3rem;

    font-size: .8rem;
    text-align: center;
    background-color: @gray;

    .navbar-nav {
        padding: .2rem 0;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.header {
    &.banner {
        color: @white;
        background:
/*          url(../img/tint.png) repeat,
            url(../img/banner.jpg) top left no-repeat,*/
            url(assets/img/banner2.png),
            @green;

        background-position: top left;
        background-attachment: fixed;
        background-size: cover;

        .navbar {
            .navbar-toggler-icon {color: @white; border-color: white;}

            .navbar-brand {
                @media (min-width: 576px) {img {height: 120px;}}
            }

            .nav-item{
                a {
                    color: @white;
                }

                &:hover {
                    border-color: @white;
                }
            }
        }
    }

    .banner-content {
        height: 50vh;
        &.full-page{height: 80vh;}

        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;

        h1 {text-transform: uppercase;}
        .banner-subtitle {
            margin: 1rem 0;
            font-size: 1.2rem;
        }
    }
}


.btn {
    font-size: 1.2rem;
    margin: 1rem 1rem;
    padding: 0.5rem 1.5rem;

    &.btn-transparent {
        border: 2px solid @white;
        color: @white;
        background-color: transparent;
    }

    &.btn-transparent-green {
        border: 2px solid @green;
        color: @green;
        background-color: transparent;
    }

    &.btn-green {
        border: 2px solid @green;
        color: @white;
        background-color: @green;
    }

}

.wp-block-button {
	.wp-block-button__link:extend(.btn all) {
		&:extend(.btn.btn-green all);

		border-radius: 0;
		text-decoration: none;
	}
}

.split {
    text-align: left;
    border-right: solid 2px @white;
}

.container-medium {
    max-width: 800px;
}

