/*
Theme Name: ESF Brasil
Theme URI: https://github.com/esf-brasil/wp-esfbrasil
Author: Matheus Cansian
Author URI: https://github.com/mscansian/
Description: Tema oficial do ESF Brasil. Caso queira ter acesso ao repositório no github (https://github.com/esf-brasil/wp-esfbrasil), envie um email para sysadmin@esf-brasil.org
Version: 1.0
Text Domain: esfbrasil
*/body {
  /* Used to keep the footer at the bottom */
  position: relative;
  min-height: 100vh;
  padding-bottom: 3rem;
  color: #202020;
  /* Use this or bootstrap instead? */
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
h1,
h2 {
  font-weight: 900;
}
a {
  color: #1DA879;
}
a:hover,
a:active {
  color: #202020;
}
@media (max-width: 576px) {
  .navbar.navbar-header {
    padding: 0;
  }
}
.navbar.navbar-header .navbar-toggler-icon {
  background-image: none;
  color: #1DA879;
  border: 1px solid #1DA879;
  padding: 0.3rem;
  border-radius: 5px;
}
.navbar.navbar-header .navbar-brand img {
  height: 80px;
}
.navbar.navbar-header .navbar-nav {
  padding-right: 0;
}
.navbar.navbar-header .navbar-nav .nav-item {
  text-transform: lowercase;
  color: #1DA879;
}
.navbar.navbar-header .navbar-nav .nav-item:hover {
  color: #1DA879;
  border-color: #1DA879;
}
@media (min-width: 576px) {
  .navbar.navbar-header .navbar-nav .nav-item {
    font-size: 1.1rem;
    border-radius: 0.25rem;
    border: 2px solid;
    border-color: transparent;
  }
}
.navbar.navbar-header .navbar-nav .dropdown-menu a {
  color: #1DA879 !important;
}
.pilar {
  text-align: center;
}
.pilar .pilar-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #1DA879;
}
.pilar .pilar-caption {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.flag {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-decoration: none;
}
.flag .flag-caption {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.counter {
  text-align: center;
}
.counter .counter-item {
  padding: 4rem 0;
}
.counter .counter-number {
  color: #1DA879;
  font-size: 2rem;
  font-weight: 900;
}
.page {
  min-height: 60vh;
}
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  color: #1DA879;
}
.page .title {
  padding: 1rem 0;
  font-size: 2.8rem;
  text-transform: lowercase;
}
.page .page-content {
  padding: 2rem 0;
}
.page .section {
  text-align: center;
  padding: 3em 0;
  min-height: 60vh;
}
.page .section h1,
.page .section h2,
.page .section h3,
.page .section h4,
.page .section h5,
.page .section h6 {
  text-align: center;
}
.page .section.dark {
  background-color: #dddddd;
}
.page .section.green {
  background-color: #1DA879;
  color: #FFFFFF;
}
.page .section.green h1,
.page .section.green h2,
.page .section.green h3,
.page .section.green h4,
.page .section.green h5,
.page .section.green h6,
.page .section.green a,
.page .section.green i {
  color: #FFFFFF;
}
.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0.5rem;
  min-height: 3rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: #dddddd;
}
.page-footer .navbar-nav {
  padding: 0.2rem 0;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.header.banner {
  color: #FFFFFF;
  background: url(assets/img/banner2.png), #1DA879;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
}
.header.banner .navbar .navbar-toggler-icon {
  color: #FFFFFF;
  border-color: white;
}
@media (min-width: 576px) {
  .header.banner .navbar .navbar-brand img {
    height: 120px;
  }
}
.header.banner .navbar .nav-item a {
  color: #FFFFFF;
}
.header.banner .navbar .nav-item:hover {
  border-color: #FFFFFF;
}
.header .banner-content {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
.header .banner-content.full-page {
  height: 80vh;
}
.header .banner-content h1 {
  text-transform: uppercase;
}
.header .banner-content .banner-subtitle {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.btn,
.wp-block-button .wp-block-button__link {
  font-size: 1.2rem;
  margin: 1rem 1rem;
  padding: 0.5rem 1.5rem;
}
.btn.btn-transparent,
.wp-block-button .wp-block-button__link.btn-transparent {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
}
.btn.btn-transparent-green,
.wp-block-button .wp-block-button__link.btn-transparent-green {
  border: 2px solid #1DA879;
  color: #1DA879;
  background-color: transparent;
}
.btn.btn-green,
.wp-block-button .wp-block-button__link.btn-green,
.wp-block-button .wp-block-button__link {
  border: 2px solid #1DA879;
  color: #FFFFFF;
  background-color: #1DA879;
}
.wp-block-button .wp-block-button__link {
  border-radius: 0;
  text-decoration: none;
}
.split {
  text-align: left;
  border-right: solid 2px #FFFFFF;
}
.container-medium {
  max-width: 800px;
}
#menu-item-59{
    border-color: white;
}
